* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.navbar {
    list-style: none;
    display: flex; 
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;
    
}
.nav-links {
    text-decoration: none;
    color: #222;
    list-style: none;
    display: flex;
    gap: 30px;
    
}
.register-button {
    text-decoration: none;
    background-color: #2d5bff;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
   
}
.hero{
    height: 90vh;
    background-image: url('assets/banner.jpg');
    background-size: cover;
    background-position: center;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}
.hero em {
    font-style: italic;
}
.hero p {
    color: white;
    max-width: 700px;
    text-align: center;
    margin: 20px 0;
}