* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.navbar {
    list-style: none;
    display: flex; 
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;
    
}
.nav-links {
    text-decoration: none;
    color: #5c5c5c;
    list-style: none;
    display: flex;
    gap: 30px;
    
}
.register-button {
    text-decoration: none;
    background-color: #2d5bff;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
   
}
.hero{
    height: 90vh;
    background-image: url('assets/banner.jpg');
    background-size: cover;
    background-position: center;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}
.hero em {
    font-style: italic;
}
.hero p {
    color: white;
    max-width: 700px;
    text-align: center;
    margin: 20px 0;
}
.speakers {
    padding: 150px 150px;
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
}
.speaker-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;
}
.speaker-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:1px solid #ddd;
    border-radius:10px;
    overflow:hidden;
    transition: transform 0.5s ease;
}
.speaker-card:hover {
    transform: translateY(-15px);
}
.speaker-card img {
    width: 100%;
    display: block;  
}
.speaker-content {
    padding: 20px;
    text-align: left;
}
.category {
    color: #2d5bff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.speaker-content h3 {
   margin: 10px 0;
   font-size: 24px;;
}
.speaker-content p {
    color: #666;
}